html 
    font-size: 62.5%


.container 
    height: 100%
    overflow: hidden
    min-height: 100%
    padding: 5rem


body 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif

.header 

    &__row 
        display: flex
        align-items: flex-end

        border: 2rem solid #ece89d
        margin: 0rem, 0rem, 2rem, 0rem
    

    &__box 
        border: 2rem solid #5e5375
        // flex-basis: 40rem
        // flex-grow: 1
        // flex-shrink: 0

        



        &-1

        &-2

        &-3

    &__elem 
        background: #18b5a4
        padding: 6rem
        font-size: 5rem
        color: #fff

        &-2
            padding: 8rem

    &__list 
        display: flex
        align-items: center
        li  
            margin: 0rem, 1.5rem, 0rem, 0rem
            &
                last-childmargin: 0rem, 0rem, 0rem, 0rem
        
    &__info 
        position: relative
        padding: 0rem, 0rem, 0rem, 1.5rem
        line-height: 1.4rem

        &-1
            padding-right: 2rem
            
        &-2
            padding-right: 2rem
        
        &-3
            padding-right: 2rem

        
    

    