html
    font-size: 62.5%

body
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    padding: 0
    margin: 0

.header
    display: flex
    flex-direction: column

    color: #fff
    width: 100%
    overflow: hidden
    min-height: 32.5rem
    background: #445161

    &__container
         padding: 5rem

    &__flex
        display: flex
        justify-content: space-between

    &__text
        font-size: 6rem

    &__img

    &__list
        font-size: 2rem
       
        
        