.header
    flex: 1 1 auto
    background-color: $color-dark-blue
    max-height: 32.5rem
    margin-bottom: 5rem
    
    &__flex
        border: 1rem solid black
        display: flex
        justify-content: space-between


.section

    &__flex
        border: 1rem solid black
        display: flex
        


.columns

    &__flex
        border: 1rem solid black
        display: flex
        justify-content: space-between

.footer

    &__flex
        border: 1rem solid black
        display: flex
        justify-content: center

        min-height: 6.5rem

.final

    &__flex
        // border: 1rem solid black
        display: flex
        justify-content: space-around
        