.header

    &__body
        color: #fff
        padding: 0rem 2rem 0rem 0rem

    &__text
        flex-wrap: nowrap
        font-size: 6rem
        padding-bottom: 3.8rem

    &__list li
        font-size: 2rem
        background: url(../icon/icon.png)  no-repeat  
        padding: 0rem 0rem 1.5rem 3.6rem
        list-style-type: none
        align-self: flex-start


.section
    
    &__img
        
    &__body
        color: $color-dark-green

    &__title
        font-size: 3rem
        padding-bottom: 3.5rem
    
    &__text
        font-size: 1.6rem
        line-height: 2.4rem

        &-1
            margin-bottom: 3rem


.columns
 
    &__title
        color: $color-dark-green
        font-size: 3rem
    
    &__column1

        &-1
            width: 20rem
            height: 15rem
            background: $color-dark-green

        &-2
            width: 20rem
            height: 15rem
            background: $color-dark-green

    &__column2

        &-1
            width: 20rem
            height: 15rem
            background: $color-dark-green

        &-2
            width: 20rem
            height: 15rem
            background: $color-dark-green